{% extends "base.html" %}


{% block header %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}INFO3180 Lab 2 {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="profile.css" />
{% endblock %}

{% block main %}

    
            
    <h1 class="title">Profile</h1>
    
        
    <img src="https://vignette.wikia.nocookie.net/villains/images/2/2b/Colored_Eto.jpg/revision/latest?cb=20180211234843" width="200" height="150"/>
            
    <h2 >{{name}}</h2>
    <h3 >Today's date is</h3>
    <h3><{{Username}}</h3>
    <h3>{{IDNum}}</h3>
    <h3>{{Age}}</h3>
    <h3>{{Gender}}</h3>
    <h3> A young god</h3>
{% endblock %}
