<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% extends 'base.html'%}
{% block main%}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>INFO3180 Lab 2</title>
    <link rel="stylesheet" type="text/css" href="profile.css" />
</head>
<body>

    <h1>Profile</h1>
    <img src="{{url_for('static', filename='mad10.jpg')}}" />
 
    <div class="infobox">
        <div id="Name"><b>Darth Vader</b></div>
        <div id="Date" class="bottomborder">Today's date is </div>
        <div id="UserName"><b>Username:</b> Blacklunaris</div>
        <div id="IDNum"><b>ID Number:</b> 620097968</div>
        <div id="Age"><b>Age:</b> 2000</div>
        <div id="Gender" class="bottomborder"><b>Gender:</b> Male</div>
        <div id="AboutMe">A young god</div>
    </div>

</body>
{% endblock %}
</html>